{% extends 'base.html.twig' %}
{% block body %}
        <div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
            <div class="im-test">
            	<img class="image-annonce" src="/uploads/Photo/{{ annonce.photo }}">
            </div>
            <div class="uk-padding-large">
                <h3 class="uk-card-title">{{ annonce.titre|raw }}</h3>
						<div class="uk-card">
							{{ annonce.texte|raw }}
						</div>
	    			<div class="uk-card">	
	    				<span>Type Annonce : </span>{{ annonce.type_annonce|raw }}
	    			</div>
            </div>
        </div>
{% endblock %}