{% extends 'base.html.twig' %}
{% block body %}
	{% for rubrique in rubriques %}
			<h3>{{ rubrique.nom }}</h3>			
	            <tr>
	                <th>Annonce N°</th>
	                <td>{{ rubrique.id }}</td><br>
	            </tr>
	            <tr>
	                <th>Titre : </th>
	                <td>{{ rubrique.texte|raw }}</td><br>
	            </tr>
		</div>
	{% endfor %}
{% endblock %}
