{% extends 'base.html.twig' %}
{% block body %}
<div class="uk-position-relative">        
    <div class="uk-align-center uk-section" >
        <img class="uk-align-center" src="{{ asset('image/place-comedie-montpellier.jpg') }}">
            <h3 class="uk-text-center">Section with Images</h3>
            <div class="uk-text-center uk-grid-match uk-child-width-1-2@m" uk-grid>

                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
    </div>
    <div class="uk-section">        
        <div class="color1"></div>
            <div id="map" style="width:100%;height:25em;z-index:2;"></div>
        <div class="color1"></div>
    </div>
    <div class="uk-text-center">
        <h3>Les annonces</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, veniam sequi. Perferendis maiores aspernatur, est enim necessitatibus vitae culpa blanditiis quis quos, veritatis placeat saepe ratione nam eius quas fugit!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum aliquam quae adipisci culpa dignissimos id veniam, sit quo unde porro officia deleniti, rem aliquid labore assumenda! Illo repellendus ex, quo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quos nesciunt doloribus et iusto ut illo quasi odio dolores vitae accusantium dolorum deserunt officia ab, magni unde! Dolores, nemo, omnis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, officia, quasi eveniet consequatur a labore corrupti odio mollitia blanditiis quam, cum repellat quibusdam alias rem fuga neque iste assumenda perspiciatis.
    </div>
</div>
    
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/googlemap.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFPRccgbPWJbt-sSn70yHx1B91Mxk2qzo&callback=myMap"></script>
{% endblock %}