{% extends 'base.html.twig' %}
{% block body %}
	<div class="marg">
	{% for mentionlegale in mentionlegales %}
		<div class="uk-grid-match uk-child-width-1-1@s" uk-grid>
			<div>{{ mentionlegale.texte|raw }}</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}