{% extends 'base.html.twig' %}

{% block img %}
<div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
            <div class="im-test">
            	<img class="image-rubrique" src="/uploads/Photo/{{ rubrique.photo }}">
            </div>
            <div class="uk-padding-large">
                <h3 class="uk-card-title">{{ rubrique.nom|raw }}</h3>
	    			<div class="uk-card">	
	    				<span>{{ rubrique.texte|raw }}</span>
	    			</div>
            </div>
        </div>

  {% endblock %}
{% block body %}
        
{% endblock %}


