{% extends 'base.html.twig' %}

{% block img %}

	<div id="logo">
		<img src="/uploads/Photo/{{ rubrique.photo }}">
		<div class="uk-overlay uk-overlay-primary uk-position-top-right uk-text-center">
                <h3 class="uk-margin-remove">{{ rubrique.nom }}</h3>
                <p>{{ rubrique.texte|raw }}</p>
            </div>
    	</div>
	</div>	
</div>
  {% endblock %}
{% block body %}
        
{% endblock %}


