body{
	font-family: 'Source Code Pro', monospace;
}

.lien-ann{
	text-decoration: none;
}

.lien-ann:hover{
	text-decoration: none;
}

#scale_img{
	width:auto;
	height:22em;
}

#scale_img_rub{
	width:60em;
	height:30em;
}

.color1{
	z-index: 1;
	/*background-color: black;*/
	width: auto;
	height: 3em;
}

.icon-hover:hover{
	color:#FF8849;
}

#map {
    height: 100%;
  }

.navbar-base{ 
	z-index: 980;
}
#logo {
    position: fixed;
}

/*[class*="uk-"]{
	border:2px solid black;
}*/
.img{
	width: 54em;
	height: 30em;
}

.ann-div{
	margin-left: 0em;
}

.img-test{
	border:2px solid black;
	border-radius: 0px 10px 0px 10px;
}

.color2{
	color:black !important;
}



.img-ann-index{
	margin-right: 20em;
	margin-left: 10em;
	height: 35em;
	width: 50em;
}

.titre-ann{
	margin-top: 20px;
	margin-left: 10em ;
}

.image-annonce{
	padding: 15px;
	padding-top: 5em;
	height: 55em;
	width: auto;
	}

.image-rubrique{
	padding: 15px;
	padding-top: 5em;
	height: 58em;
	width: 115em;
	}


.size-test{
font-size: 22px;
}

.marg-btn{
	margin-left: 8em;
}


.texte-ann{
	margin: 15px 95px 25px 95px;
}

a{
	color: grey;
}

.logo-comvisa{
	height: 5em;
	width: 9em;
}

.img-logo{
	height: 10em;
	width: 14em;
	margin: 8px 8px 8px 8px;
}
.img-menu{
	height: 1.5em;
	width: 6em;
}