.ha{
	background: white;
	opacity: 0.6;
}

.color1{
	z-index: 1;
	background-color: #FF8849;
	width: auto;
	height: 4em;
}

.test2:hover{
	color:#FF8849;
}

#map {
    height: 100%;
  }

.navbar-base{ 
	z-index: 980;
}
#logo {
    position: fixed;
}

/*[class*="uk-"]{
	border:2px solid black;
}*/
.test{
	background-image: url("image/place-comedie-montpellier.jpg")
}
.test3{
	float: left;
	overflow: auto;
}

.img-rub{
	margin-top: -5em;
	padding-left: 2.5em;
	width: 98%;
	height: 50em;
}
.img{
	width: 55em;
	height: 35em;
}

.try{
	margin-left: 0em;
}
.text-ann{
	color:white;
}